#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=CentOS.localdomain
# Root password
rootpw --iscrypted $6$hJVCGnl29t0MjUJK$Z6h5kUYGWGaB7YYZJoymhsLEYphPWPFYisF9MRRkAWxm84Bxh9sTht9YYcFqNWaZvq6qXNGrYsbRLXJ5MvNa8/
# System timezone
timezone America/Vancouver --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core

%end

